<!DOCTYPE html>
<html>
  <head>
    <title>Tuned</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <%if logged_in? %>
      <form action=" <%= session_url %>" method="post">
        <input type = "hidden" name = "_method" value = "delete">
        <input type = "submit" value = "Logout">
      </form>
    <%else%>
      <form action=" <%= new_session_url %>" method="post">
        <input type = "hidden" name = "_method" value = "get">
        <input type = "submit" value = "Login">
      </form>
      <form action=" <%= new_user_url %>" method="post">
        <input type = "hidden" name = "_method" value = "get">
        <input type = "submit" value = "Sign Up">
      </form>
    <%end%>
  </header>
  <h1>Better than Spotify!!!</h1>
    <%= yield %>
  </body>
</html>
